body {
  font-family: 'SF Pro Display', Arial, sans-serif;
}

/* *** HEADER ~~ START *** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 0 22px;
  height: 50px;

  background-color: #323233;
}

/* ICONS - START */

.header .header__logo__img {
  width: 40px;
}

.header .header__menu {
  height: 100%;
}

.header .header__menu .header__menu__img {
  width: 40px;
}

.header .header__icons {
  width: 8%;
}

.header .header__icons .header__icons__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header__shopping_bag__img,
.header .header__icons .header__icons__list .header__icons__list__item .header__icons__list__item__img {
  width: 17px;
}

/* ICONS - END */

/* LINKS - START */

.header .header__links {
  width: 80%;
  height: 100%;
}

.header .header__links .header__links__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
} 

.header .header__links .header__links__list .header__links__list__link {
  color: #f5f5f793;
  font-size: 16px;
}

/* LINKS - END */

/* RESPONSIVENESS - START */

.header .header__menu, header .header__shopping_bag {
  display: none;
}

@media screen and (min-width: 1000px){
  .header {
    padding: 0 62px;
  }
}

@media screen and (max-width: 840px){
  .header .header__links, header .header__icons{
    display: none;
  }
  .header .header__menu, header .header__shopping_bag {
    display: block;
  }
}

/* RESPONSIVENESS - END */

/* *** HEADER ~~ END *** */

/* *** IPHONE - START *** */

.iphone {
  height: calc(100vh - 50px);

  background-image: url('../img/banner/iphone.png');
  background-position: bottom;
  background-size: calc(100vh - 50px);
  background-repeat: no-repeat;

  text-align: center;

  padding-top: 50px;
}

.iphone .iphone__title {
  font-size: 56px;
  font-weight: 600;

  color: #1d1d1f;
  
  letter-spacing: 0.004em;
  line-height: 1.25em;
}

.iphone .iphone__subtitle {
  font-size: 24px;
  line-height: 1.5em;

  color: #1d1d1f;
}

.iphone .iphone__links {
  margin-top: 0.5em;
}

.iphone .iphone__links .iphone__link {
  color: #06c;
  
  font-size: 22px;
  line-height: 1.5em;

  margin: 0 .5em;
}

.iphone .iphone__links .iphone__link::after {
  content: ' >';

  font-size: 0.9em;
  margin: 0.1em 0;
}

@media screen and (max-width: 768px){
  .iphone {
    height: calc(75vh - 50px);
    background-size: calc(75vh - 50px);
  }
  .iphone .iphone__title {
    font-size: 32px;
  }
  .iphone .iphone__subtitle {
    font-size: 19px;
  }
  .iphone .iphone__links .iphone__link {
    font-size: 19px;
  }
}

/* *** IPHONE - END *** */
